* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h1 {
    text-align: center;
    margin-top: 10px;
}

table {
    border: medium solid #000000;
    width: 50%;
    margin: 50px auto;
}

td, th {
    border: thin solid #6495ed;
    padding: 10px;
    text-align: center;
}